body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 4fr 4fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 4fr 4fr 2fr;
    grid-template-areas:
        "title title title"
        "inst board secCon"
        ". board ."
        ". board ."
        ". board ."
        ". board outcome"
        ". board outcome"
        ". board ."
        ". board ."
        ". board ."
        ". board gsbtncon"
        ". . .";
    background-image: url("https://t4.ftcdn.net/jpg/02/80/03/47/360_F_280034752_DLKb0deHfTDUTYyUs6eDYkSS97N0vaKy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    grid-area: title;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#instructions {
    grid-area: inst;
    color: black;
    background-color: silver;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 0 40px 0;
    height: 550px;
    display: flex;
    flex-direction: column;
}

h3 {
    align-self: center;
}

ol {
    margin-right: 20px;
}

#board {
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 340px;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

#boardDisplay {
    display: flex;
}

#guessed {
    background-color: silver;
    border: 1px solid black;
    border-radius: 15px;
    width: 250px;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#guessed > div {
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 10px;
}

#hints {
    background-color: silver;
    border: 1px solid black;
    border-radius: 15px;
    width: 60px;
    height: 500px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#hints > div {
    border-radius: 50%;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin: 3px;
}

#colors {
    background-color: silver;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 298px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#red {
    background-color: rgb(251, 143, 109);
    /*background-color: salmon;*/
}

#yellow {
    background-color:  rgb(251, 231, 144);
    /*background-color: moccasin;*/
}

#green {
    /*background-color: yellowgreen;*/
    background-color:  rgb(183, 215, 146);
}

#teal {
    /*background-color: lightseagreen;*/
    background-color:  rgb(126, 189, 195);
}

#purple {
    /*background-color: mediumpurple;*/
    background-color:  rgb(173, 156, 214);
}

#magenta {
    background-color: plum;
}

#red, #yellow, #green, #teal, #purple, #magenta {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#red:hover, #yellow:hover, #green:hover, #teal:hover, #purple:hover, #magenta:hover, #guessButton:hover {
    cursor: pointer;
}

#secretContainer {
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
    width: 180px;
    height: 50px;
    padding: 10px;
    margin: 0 40px 0;
}

#secretCode {
    background-color: silver;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 160px;
    height: 30px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#secretCode > div {
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

#outcome {
    grid-area: outcome;
    background-color: rgb(164, 204, 164);
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: -400px;
    margin-bottom: 250px;
    width: 280px;
    visibility: hidden;
}

#guessButtonContainer {
    grid-area: gsbtncon;
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: -60px;
    margin-right: 300px;
    width: 90px;
    /*justify-self: center;
    align-self: center;*/
}

#guessButton {
    background-color: silver;
    border-radius: 7px;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 90px;
}

#playAgainButtonContainer {
    grid-area: gsbtncon;
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 167px;
    margin-left: 200px;
    margin-top: -50px;
}

#playAgainButton {
    background-color: silver;
    border-radius: 7px;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 167px;
}

h2, #board, #secretContainer, #guessButtonContainer {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1194px) {
    #instructions > ol {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1111px) {
    #instructions > ol {
        font-size: 13px;
        margin: 0 20px 0;
        padding: 0 5px 0;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1021px) {
    #instructions {
        font-size: 16px;
        width: 150px;
    }
}