body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 4fr 4fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 4fr 4fr 2fr;
    grid-template-areas: 
        "title title title"
        "inst board secCon"
        ". board ."
        ". board ."
        ". board ."
        ". board ."
        ". board ."
        ". board ."
        ". board ."
        ". board ."
        ". board gsbtncon"
        ". . .";
}
  
h2 {
    grid-area: title;
    color: black;
    font-family: 'Courier New', Courier, monospace
}
  
#instructions {
    grid-area: inst;
    color: black;
    background-color: silver;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 0 40px 0;
}
  
#board {
    grid-area: board;
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 0 40px 20px;
}
  
#guessed {
    /*grid-area: guessed;*/
    background-color: silver;
}
  
#hints {
    /*grid-area: hints;*/
    background-color: silver;
}
  
#colors {
    background-color: silver;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 500px 0 0px;
    width: 370px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#red {
    background-color: orangered;
}

#yellow {
    background-color: gold;
}

#green {
    background-color: yellowgreen;
}

#teal {
    background-color: lightseagreen;
}

#purple {
    background-color: mediumpurple;
}

#magenta {
    background-color: plum;
}

#secretContainer {
    grid-area: secCon;
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 0 40px 0;
}

#secretCode {
    background-color: silver;
}

#guessButtonContainer {
    grid-area: gsbtncon;
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 0 40px 20px;
}

#guessButton {
    background-color: silver;
    color: black;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, #board, #secretContainer, #guessButtonContainer {
    display: flex;
    justify-content: center;
}

#red, #yellow, #green, #teal, #purple, #magenta {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}